[buildout]
develop = . 
parts = test python tags
find-links = http://download.zope.org/distribution/

[test]
recipe = zc.recipe.testrunner
eggs = zope.app.appsetup [test]

[python]
recipe = zc.recipe.egg
eggs = zope.app.appsetup
interpreter = python

[tags]
recipe = z3c.recipe.tag:tags
eggs = zope.app.appsetup
