[buildout]
develop = .
find-links =
	${buildout:directory}/ZODB-4.0.0dev.tar.gz
parts = test python
versions = versions

[versions]
ZODB=4.0.0dev
zope.app.publication=4.0.0a1.dev
zope.i18n = >=4.0.0a3
zope.publisher = >= 4.0.0a2
zope.securitypolicy= >=4.0.0a1
zope.session = >= 4.0.0a1
zope.tal=4.0.0a1

[test]
recipe = zc.recipe.testrunner
eggs = zope.app.appsetup [test]

[python]
recipe = zc.recipe.egg
eggs = zope.app.appsetup
interpreter = python
